<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="BASEindex.html">Home</a></li>
        
        <!-- About Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="BASEpages/about/editor-vision.html">Editor Vision</a></li>
            <li><a class="dropdown-item" href="BASEpages/about/editorial-board.html">Editorial Board</a></li>
            <li><a class="dropdown-item" href="BASEpages/about/terms-conditions.html">Terms & Conditions</a></li>
            <li><a class="dropdown-item" href="BASEpages/about/privacy-policy.html">Privacy Policy</a></li>
            <li><a class="dropdown-item" href="BASEpages/about/publication-ethics.html">Publication Ethics</a></li>
            <li><a class="dropdown-item" href="BASEpages/about/peer-review.html">Peer Review Process</a></li>
          </ul>
        </li>
        
        <!-- Author Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Author
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="BASEauthor.html#submission-process">Publication Process</a></li>
            <li><a class="dropdown-item" href="BASEauthor.html#submit-online">Submit Paper Online</a></li>
            <li><a class="dropdown-item" href="BASEauthor.html#pay-fee">Pay Publication Fee</a></li>
            <li><a class="dropdown-item" href="BASEauthor.html#track-paper">Track Paper</a></li>
            <li><a class="dropdown-item" href="BASEauthor.html#copyright-form">Copyright Form</a></li>
            <li><a class="dropdown-item" href="BASEauthor.html#paper-templates">Sample Paper Format</a></li>
            <li><a class="dropdown-item" href="BASEauthor.html#call-for-papers">Topics / Call for Papers</a></li>
            <li><a class="dropdown-item" href="BASEauthor.html#search-paper">Search Paper</a></li>
          </ul>
        </li>
        
        <!-- Archives Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Archives
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="BASEpages/archives/current-issue.html">Current Issue</a></li>
            <li><a class="dropdown-item" href="BASEpages/archives/past-issues.html">Past Issues</a></li>
            <li><a class="dropdown-item" href="BASEpages/archives/search.html">Search Papers</a></li>
          </ul>
        </li>
        
        <li class="nav-item"><a class="nav-link" href="BASEfees.html">Fees</a></li>
        <li class="nav-item"><a class="nav-link" href="BASEfaq.html">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="BASEcontact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
