<aside class="col-lg-3 order-lg-1 order-2">
  <div class="sidebar-panel">
    <h5>For Authors</h5>
    <ul>
      <li><a href="BASEauthor.html#call-for-papers">Call for Papers</a></li>
      <li><a href="BASEauthor.html#submission-process">Submission Process</a></li>
      <li><a href="BASEauthor.html#paper-templates">Paper Templates</a></li>
      <li><a href="BASEauthor.html#copyright-form">Copyright Form</a></li>
      <li><a href="BASEauthor.html#submit-online">Online Paper Submission</a></li>
      <li><a href="BASEauthor.html#track-paper">Manuscript Tracking</a></li>
    </ul>
  </div>
  <div class="sidebar-panel">
    <h5>Publication</h5>
    <ul>
      <li><a href="BASEpages/archives/current-issue.html">Current Issue</a></li>
      <li><a href="BASEpages/archives/past-issues.html">Past Issues</a></li>
      <li><a href="BASEpages/archives/search.html">Search Papers</a></li>
    </ul>
  </div>
  <div class="sidebar-panel">
    <h5>For Reviewers</h5>
    <ul>
      <li><a href="BASEpages/about/editorial-board.html">Editorial Board</a></li>
      <li><a href="BASEcontact.html">Reviewer Registration</a></li>
    </ul>
  </div>
</aside>
